header{
  opacity: 98%;
}

body{
  margin: 0;
  padding: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("img/bgVerde.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top ; 
  opacity: 0.85;
}

header{  
  font-family: 'Chakra Petch', sans-serif;
  color: aquamarine;
  font-size: 150%;
  text-align: center;
  padding-bottom: 1%;
}

main{
  align-items: center;
}

.encript{
  align-items: center;
  display: flex;
  font-family: 'Chakra Petch', sans-serif;
  color: aquamarine;
  display: flex;
  font-family: 'Chakra Petch', sans-serif;
  color: aquamarine;
  font-size: 100%;
  text-align: center;
  padding-bottom: 1%;
}

.parTextoArea{
  align-items: center;
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea{
  width: 100%;
  height: auto;
  font-size: 150%;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.btnsAlado{
  align-items: center;
}

button {
  flex: 1;
  margin-bottom: 5px;
  border-radius: 10px;
  background: aquamarine;
  padding: 5px 24px;
  font-size: 24px;
  font-weight: bold;
  border: none;
}

footer{
  color: aquamarine;
  text-align: center;
}

@media (max-width: 600px) {
  .encript {
    flex-direction: column;
  }
  .textarea{
    height: 50%;
    max-height: auto;
    overflow-y: auto;
  }
  .parTextoBoton{      
    margin-bottom: 15px;
  }
}